*{
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display';
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
}
#nav{
    padding: 10px 30px;
}

#nav a{
    color: #000;
    font-size: 15px;
    margin-right: 30px;
    text-decoration: none;
}

#main>h1{
    margin-top: 40px;
    font-size: 270px;
    padding-left: 70px;
    font-weight: 400;
}

#btmleft{
    width: 300px;
    position: absolute;
    bottom: 30%;
    left: 2%;
   background-color: #fff;
}

#btmleft h3{
    font-size: 20px;
}

#btmleft p{
    margin-top: 5px;
    font-size: 12px;
}

#btmleft h4{
margin-top: 20px;
font-size: 20px;
}

#bottombar{
    width: 100%;
    position: absolute;
    left: 2%;
    bottom: 5%;
}

#bottombar h1{
    font-size: 30px;
}

#main > img{
    position: absolute;
   
}

#main #firstimg{
    height: 300px;
    top: 35%;
    left: 62%;
    z-index: 999;
}

#main #secondimg{
    height: 200px;
    top: 62%;
    left: 55%;
}

#main #thirdimg{
    height: 200px;
    top: 50%;
    left: 47%;
}

